
  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo"> <img class="logo-img" src="assets/images/latam-coders.png" alt="ss"> </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/">¿Quienes somos?</a></li>
        <li class="services">
          <a href="/">Servicios</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 3</a></li>
            <li><a href="/">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Contacto</a></li>
      </div>
    </ul>
  </nav>


  
<router-outlet  ></router-outlet>


<app-footer></app-footer>
