/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 }
 
 body {
  font-family: cursive;
 }

a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
  
   /* NAVBAR STYLING STARTS */
  
  
   .logo-img {
    width: 200px;
   }
  
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
    background-color: #000D39;
    color: #fff;
    
    /* Fixed menu */
    position: fixed;
    max-width: 100vw;
    width: 100vw;
    z-index: 999;
  
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   /* .logo {
    font-size: 32px;
   } */
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #000D39;
   }
   .services:hover .dropdown {
    display: block;
   }
  
   /*RESPONSIVE NAVBAR MENU STARTS*/
  /* CHECKBOX HACK */
  input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
  
   .menu { 
    display:none;
    position: absolute;
    
    background-color: #000D39;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin: 20px 0px 0px 0px;
   }
   .menu li:hover {
    display: inline-block;
    
    background-color: #000D39;
    transition: 0.9s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #000D39;
   }
   }
  
   
  
  


 .subMenu {
	 width: 100%;
	 /* margin: 0px 0px 0px 2px; */
	 transition: all 0.5s ease-in-out;
     /* text-align: center; */
	 /* height: 0px; */
}


 .subMenu a {
	 font-size: 2rem;
	 margin: 2rem auto;
	 transition-duration: 0.3s;
}
 .subMenu a:hover {
	 cursor: pointer;
	 color: #d49c6b;
}
 .active {
	 height: fit-content;
	 opacity: 100;
}
 #decoration-nav {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 padding: 1.2rem;
}
 #decoration-nav div {
	 display: flex;
	 justify-content: space-around;
}
 #decoration-nav a {
	 margin: 0rem 2rem;
	 font-size: 1rem;
	 font-weight: 500;
	 transition-duration: 0.3s;
}
 #decoration-nav a:hover {
	 cursor: pointer;
	 color: #d49c6b;
}
 .ham {
	 opacity: 0;
	 margin: 1rem;
	 display: none;
	 cursor: pointer;
	 -webkit-tap-highlight-color: transparent;
	 transition: transform 400ms;
	 -moz-user-select: none;
	 -webkit-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}
 .line {
	 fill: none;
	 transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	 stroke: #000;
	 stroke-width: 5.5;
	 stroke-linecap: round;
}
 .hamRotate.active {
	 transform: rotate(45deg);
}
 .hamRotate180.active {
	 transform: rotate(180deg);
}
 .ham8 .top {
	 stroke-dasharray: 40 160;
}
 .ham8 .middle {
	 stroke-dasharray: 40 142;
	 transform-origin: 50%;
	 transition: transform 400ms;
}
 .ham8 .bottom {
	 stroke-dasharray: 40 85;
	 transform-origin: 50%;
	 transition: transform 400ms, stroke-dashoffset 400ms;
}
 .ham8.active .top {
	 stroke-dashoffset: -64px;
}
 .ham8.active .middle {
	 transform: rotate(90deg);
}
 .ham8.active .bottom {
	 stroke-dashoffset: -64px;
}
 #logo {
	 font-size: 1.3rem;
	 font-weight: 700;
	 letter-spacing: 0.3rem;
	 transition-duration: 0.3s;
}
 #logo:hover {
	 color: #fff;
	 cursor: pointer;
	 filter: drop-shadow(3px 3px 0rem rgba(0, 0, 0, 0.8));
}


 .nav-separator {
	 color: rgba(0, 0, 0, 0.1);
	 margin: 1rem;
}
 span {
	 width: 8px;
	 height: 8px;
	 border: 0.1px #c1c8c7 solid;
	 margin: auto 0.5rem;
	 background: #c1c8c7;
	 display: inline-block;
	 border-radius: 100%;
}
 #date {
	 font-size: 1rem;
	 display: flex;
	 align-items: center;
}

 .tags {
    margin-top: 20px;
	 margin-right: 0.4rem;
}
 .tags a {
	 border: 1px #c1c8c7 solid;
	 margin-right: 0.3rem;
	 padding: 0.5rem 1rem;
	 border-radius: 20px;
	 transition-duration: 0.3s;
}
 .tags a:hover {
	 background: #c1c8c7;
	 color: #fff;
}
 #mobile-date {
	 font-size: 1rem;
	 display: flex;
	 margin-left: 0.1rem;
	 align-items: center;
	 line-height: 1rem;
	 display: none;
}
 #mobile-date .dot {
	 width: 2px;
	 height: 2px;
}
 article {
	 --article-height: 100%;
	 --article-ratio: 1.5;
	 width: calc(var(--article-height) / var(--article-ratio));
	 height: var(--article-height);
	 box-sizing: border-box;
	 padding: 0px 20px;
	 margin: auto;
	 position: relative;
}
 .hero-image {
	 max-width: 100%;
}
 .caption {
	 font-size: 0.9rem;
	 text-align: center;
	 margin: auto;
	 padding: 1rem;
	 color: rgba(0, 0, 0, 0.8);
}
 h2 {
	 margin: 2rem auto;
}
 img[class^="editorial-image"] {
	 max-width: 40%;
	 padding: 7px;
	 margin: 1rem;
	 border-radius: 16px;
	 transition-duration: 0.3s;
}
 img[class^="editorial-image"]:hover {
	 cursor: pointer;
	 filter: drop-shadow(6px 6px 0px rgba(212, 156, 107, 0.5));
}
 .pullquote {
	 position: relative;
	 font-weight: 500;
	 background: #fff;
	 font-size: 1rem;
	 font-style: italic;
	 line-height: 1.8rem;
	 margin: 2rem 1rem;
	 padding: 2rem;
	 border: 0.1rem gray solid;
	 border-radius: 16px;
	 clear: both;
	 transition-duration: 0.3s;
}
 .pullquote:hover {
	 border-color: #d49c6b;
	 filter: drop-shadow(6px 6px 0rem rgba(212, 156, 107, 0.8));
	 cursor: pointer;
}
 .pullquote:hover .copy-icon {
	 opacity: 100%;
}
 .copy-icon {
	 position: absolute;
	 bottom: 1rem;
	 right: 1rem;
	 opacity: 0;
	 transition-duration: 0.3s;
}
 .editorial-image-left {
	 float: left;
	 clear: both;
}
 .editorial-image-right {
	 float: right;
	 clear: both;
}


 p {
	 font-size: 1.1rem;
	 line-height: 2.2rem;
	 font-family: "Hind", sans-serif;
	 font-family: "Montserrat", sans-serif;
	 text-align: left;
}
 .article-cover {
	 display: flex;
	 background: #fff;
	 align-items: flex-start;
	 flex-direction: column;
	 width: 100%;
	 margin: 0;
	 z-index: -1;
}
 .article-cover:hover {
	 cursor: pointer;
}
 .article-cover h1 {
	 text-align: left;
	 color: #252b31;
	 font-weight: 700;
	 font-size: 4rem;
	 margin: 0.8rem 0 2rem 0;
}
 .article-cover h1:hover {
	 animation: playful-rotation 0.3s alternate 1;
}
 .article-cover img {
	 border-radius: 20px;
	 width: 100%;
	 transition-duration: 0.5s;
	 filter: grayscale(80%);
}
 .article-cover img:hover {
	 filter: grayscale(0%);
}
 @keyframes playful-rotation {
	 0% {
		 transform: rotate(0deg);
		 -webkit-transform: rotate(0deg);
	}
	 35% {
		 transform: rotate(-1deg);
		 -webkit-transform: rotate(-1deg);
	}
	 75% {
		 transform: rotate(1deg);
		 -webkit-transform: rotate(1deg);
	}
	 100% {
		 transform: rotate(0deg);
		 -webkit-transform: rotate(0deg);
	}
}
 @media only screen and (min-width: 1100px) {
	 img[class^="editorial-image"] {
		 max-width: 40%;
		 margin: 2.5rem auto;
		 border-radius: 16px;
		 transition-duration: 0.3s;
	}
	 img[class^="editorial-image"]:hover {
		 cursor: pointer;
		 filter: drop-shadow(6px 6px 0px rgba(212, 156, 107, 0.5));
	}
	 .editorial-image-left {
		 float: none;
		 display: flex;
	}
	 .editorial-image-right {
		 float: none;
		 display: flex;
		 margin: 1rem auto;
	}
}
 @media only screen and (max-width: 1000px) {
	 #decoration-nav a {
		 font-size: 0.9rem;
	}
	 .article-cover p {
		 font-size: 1.1rem;
	}
	 .article-cover h1 {
		 font-size: 3rem;
	}
	 p {
		 font-size: 1.2rem;
	}
}
 @media only screen and (max-width: 750px) {
	 #decoration-nav #logo {
		 margin: auto 2rem;
		 font-size: 1.6rem;
	}
	 #decoration-nav .left-items, #decoration-nav .right-items {
		 opacity: 0;
		 display: none;
	}
	 .ham {
		 opacity: 100%;
		 display: block;
	}
}
 @media only screen and (max-width: 580px) {
	 #date {
		 display: none;
	}
	 #mobile-date {
		 display: flex;
		 flex-direction: row;
		 align-items: center;
		 margin-top: 2rem;
		 font-size: 0.9rem;
	}
	 .article-cover h1 {
		 font-size: 2.1rem;
	}
	 p {
		 font-size: 1.2rem;
	}
	 article {
		 --article-ratio: 1;
	}
}



/* Footer  */

.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
    background-color: #000D39;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 46px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 50px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 44px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 54px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  
  .content-about {
    width: 80%;
    margin: 50px auto;
    display: flex;
    
    /* position: relative; */
    /* position:relative; */
    /* align-items: ce; */
  }
  
  .img-about {
     width: 50%;
     /* height: 200px; */
     /* background-color: #0a515e; */
  }
  
  .img-about img {
    width: 100%;
    border-radius: 10px;
  }
  
  .text-about-content {
    width: 50%;
    height: 200px;
    /* background-color: #00bef0; */
    text-align: right;
  }
  
  
  .title-about {
    font-size: 1.4em;
    margin: 0px 0px 40px 0px;
  }
  
  .text-about{
    text-align: justify;
    padding: 0px 0px 0px 70px;
  }
  
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}